h4{
    margin-left: 150px;
}
p{
    margin-left: 150px;
    font-family: cursive; 
}
h1{
    margin-left: 260px;
    margin-top: 50px;
    font-family:monospace;
}
body{
    background-color: #f1f1f1;
}
