table, th, td {
  border: 1px solid black;

}
table.center {
  margin-left:450px; 
  
}
table{
      background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(mae1.jpg);
}
th{
    box-sizing: 30px;
}